/*$pallete_grey: #333333;*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Space Mono", monospace, "Poppins", sans-serif;
  padding: 30px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
